{% extends "base.html" %}

{% block style %}
<link rel="stylesheet" href="/static/home_style.css">
{% endblock %}

{% block content %}
<div class="container text-center" style="margin-top: 6em;">
    <div class="row">
        <div class="col">
            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="/static/img/1.jpg" class="d-block w-100" alt="1">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/2.png" class="d-block w-100" alt="2">
                    </div>
                    <div class="carousel-item">
                        <img src="/static/img/3.jpg" class="d-block w-100" alt="3">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Предыдущий</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Следующий</span>
                </button>
            </div>
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    <div class="row mt-4 mb-4">
        <div class="col">
            <h2> Что-то </h2>
        </div>
        
        <div class="col">
            <h2> Форум </h2>
        </div>
    </div>

    <!-- BlogPosts -->
    <div class="row mt-4">
        {% for post in blog_posts %}
        <div class="col">
            <!-- Cards -->
            <div class="card bg-dark text-white" style="width: 18rem;">
                <img src="/static/img/{{ post.image_url }}" alt="{{ post.title }}">

                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content.split('.')[0] }}.</p> <!-- Первое предложение -->
                    <p class="full-text">{{ post.content }}</p> <!-- Полный текст, скрыт изначально -->
                    <p class="card-text">{{ post.published_at }}</p>
                    <p class="card-text">{{ post.username }}</p>
                    <button class="btn btn-primary toggle-btn" onclick="toggleText(this)">Открыть</button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block scripts_js%}  
<script src="{{ url_for('static', path='js/home.js') }}"></script>

{% endblock %}
